:root {
  --gl-primary: #6D9B8D;
  --gl-secondary: #A4C3B2;
  --gl-accent: #EAC3B5;
  --gl-gold: #EAC33B;

  --gl-bg: #F6F7F8;
  --gl-text: #1C1C1C;
}

html, body {
  background-color: var(--gl-bg);
  color: var(--gl-text);
}